// контейнеры
$padding: 10px;
$maxWidth: 940px + ($padding * 2);

// header
$headerMaxWidth: 940px + ($padding * 2);
$headerHeight: 66px;
$isHeaderAbove: true;

//font
$fontSize: 16px;
$bodyColor: #5e534e;
$fontFamily: "Oxygen", sans-serif;
$Lara: "Lora", serif;
$Roboto: "Roboto", sans-serif;
$fontWeight: 400;
$black: #2e2e2e;
$black2: #101315;
$white: #ffffff;
$white2: #efefef;
$white3: #f8f8f8;
$orange: #ee5514;
$gray: rgba(255, 255, 255, 0.7);
$gray2: #768088;
$gray3: #7a7a7a;
$gray4: rgba(255, 255, 255, 0.6);
$gray5: rgba(255, 255, 255, 0.63);
$gray6: #999999;
